/* header content */
body {
  min-width: 450px;
  background-color: #ff8c69;
}
header {
  text-align: center;
  margin: auto;
  height: 200;
  background-color: #ffb19a;
  min-width: 450px;
}

nav img {
  max-width: 150px;
}

/* main */
img {

}


div {
  margin: auto;
  text-align: center;
  border-style: ridge;
  border: 2.5px solid black;
  padding: 5px;
  flex: auto;
  width: 50%;
  background-color: #ff6655;
}

