/* header content */

body {
  width: 960px;
  margin: auto;
  background-color: #ff8c69;
}
header {
  text-align: center;
  margin: auto;
  height: 200;
  background-color: #ffb19a;
  min-width: 450px;
  border-radius: 10px;
}
nav a {
  margin-right: 50px;
  margin-left: 50px;
  background-color: pink;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;

}
nav img {
  max-width: 150px;
  /* background-color: #ff6655; */
}

/* main */


div {
  margin: auto;
  text-align: center;
  border-style: ridge;
  border: 2.5px solid black;
  padding: 5px;
  flex: auto;
  width: 50%;
  background-color: #ff6655;
}

